#channel-image {
    width: 2em;
    height: 2em;
    vertical-align: middle;
}

#channel-name {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

#disclaimer {
    font-size: 0.75em;
    color: #aeaeae;
    max-width: 350px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
}

.post-sign-in {
    display: none;
}

.during-upload {
    display: none;
}

.post-upload {
    display: none;
}

label {
    display: block;
}

progress {
    font-size: 0.75em;
    width: 15em;
    margin-bottom: 1em;
    padding: 0.5em;
    font-family: "Open Sans", sans-serif;
}

textarea {
    height: 7em;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}