<div data-ng-show="displayUploader">
    <div>
        <div class='row' style="padding-top: 15px;">
            <div class ='col-md-12'>
                <div class="form-group drop-box" style="padding-top: 10px;height:100px;"
                     ngf-drop
                     data-ng-model="videoFiles"
                     ngf-accept="'video/*'"
                     ngf-drag-over-class="dragover"
                     ngf-multiple="false"
                        >
                    <p>Choose a video from your computer: .MOV, .MPEG4, MP4, .AVI, .WMV, .MPEGPS, .FLV, 3GPP, WebM</p>
                </div>
                <div ngf-no-file-drop>File Drag/drop is not supported</div>
            </div>
        </div>

        <div class="btn-group-vertical">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file" >
                       <span class="glyphicon glyphicon-folder-open"></span> Browse <input type="file" id="file" class="file" accept="video/*" onchange="angular.element(this).scope().fileNameChanged(this)">
                    </span>
                </span>
                <input type="text" name="videoName" class="form-control" readonly value="{{videoName}}">
            </div>
            <button type="button" id="uploadButton" class="btn btn-success" data-ng-disabled="videoName == ''"><span class="glyphicon glyphicon-upload"></span> Upload Video</button>
        </div>

        <div class="during-upload">
            <div class="progress">
                <div id="transferred" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{progress.percentTransferred}}"
                     aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    {{progress.percentTransferred}}% Complete (success)
                </div>
            </div>

            <div align="center" class="embed-responsive embed-responsive-16by9">
                <video controls ngf-src="videoFile" ngf-accept="'video/*'"></video>
            </div>
        </div>
        <p><small id="disclaimer">* By uploading a video, you certify that you own all rights to the content or that you are
            authorized by the owner to make the content publicly available on YouTube, and that it otherwise complies
            with the YouTube Terms of Service located at <a href="http://www.youtube.com/t/terms" target="_blank">http://www.youtube.com/t/terms</a>
        </small></p>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/client:plusone.js"></script>
</div>